@using FodanArtistry.Domain.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle"></i> @user?.FirstName @user?.LastName
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                    <i class="bi bi-person"></i> My Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Favourite" asp-action="Index">
                    <i class="bi bi-heart"></i> My Favorites
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Order" asp-action="MyOrders">
                    <i class="bi bi-box"></i> My Orders
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Index">
                        <i class="bi bi-speedometer2"></i> Admin Dashboard
                    </a>
                </li>
            }
            @if (User.IsInRole("Artist"))
            {
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" asp-controller="Artwork" asp-action="Create">
                        <i class="bi bi-upload"></i> Upload Artwork
                    </a>
                </li>
            }
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="dropdown-item p-0" asp-controller="Account" asp-action="Logout" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="dropdown-item text-danger">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">
            <i class="bi bi-person-plus"></i> Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
    </li>
}